<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="title">
                    <h4>NOVA ADMISSÃO COOPERADO</h4>
                    <p>Cadastro / Admissão do cooperado / Nova Admissão de cooperado</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="infos">
                    <div class="notification">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                    </div>
                    <div class="button">
                        <button>VIACREDI</button>
                    </div>
                    <div class="box">
                        <img src="https://i.pinimg.com/474x/32/54/f5/3254f58ab46c0a0ea7aa81839e9efaa1.jpg">
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <div class="notification">
                            <i class="fa fa-bell-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="button">
                            <button>VIACREDI</button>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <div class="box">
                            <img src="https://i.pinimg.com/474x/32/54/f5/3254f58ab46c0a0ea7aa81839e9efaa1.jpg">
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
